@{
    var message = TempData["FlashMessage"] as string;
    var messageClass = TempData["FlashMessageClass"] as string;

    if (message != null)
    {
        <div class="alert @messageClass alert-dismissible" style="margin-top:10px;" role="alert">
            <button type="button" class="close" id="CloseFlashMessage"><span aria-hidden="true">&times;</span></button>
            @Html.Raw(@message)
        </div>

        @Html.ScriptSection(
            @<script>
                $("#CloseFlashMessage").on("click", function () {
                    $(this).parent().hide("slow");
                })
            </script>
        )
    }
}