@{
    ViewData["Title"] = "Forbidden";
}

<h1 class="text-danger">Forbidden.</h1>
<h2 class="text-danger">No no no!</h2>

<p>
    You have no rights to do that! Please try to <strong> behave!</strong>
</p>