@using ASPWiki.Model;
@model WikiPage

@{
    ViewData["Title"] = "Edit";
}

<form id="wikiForm" asp-action="Save" method="post">
    <div class="row" style="margin-top:20px;">
        <div class="col-md-4">
            <label for="title">Title</label>
            <input class="form-control" asp-for="Title" type="text" id="title" value="@Model.Title"/>
        </div>

        <div class="col-md-4">
            <label for="path">Path:</label>
            <span id="pathString">
                @Html.Partial("PathLink", Model.Path)
            </span>
            <div class="input-group">
                <input class="form-control" asp-for="Path" type="text" id="path" value="@Model.Parent"/>    
                <span class="input-group-addon" id="pathIcon"></span>
            </div>
        </div>

        <div class="col-md-4">
            <a id="saveButton" asp-controller="Wiki" asp-action="Save" onclick="document.getElementById('wikiForm').submit(); return false;">
                <div class="sm-btn zoomIn" style="float:right;">
                    Save <i class="fa fa-floppy-o" aria-hidden="true"></i>
                </div>
            </a>
            <a id="saveButtonDisabled">
                <div class="sm-btn disabled" style="float:right;">
                    Save <i class="fa fa-floppy-o" aria-hidden="true"></i>
                </div>
            </a>
            <a asp-controller="Wiki" asp-action="Delete" asp-route-title="@Model.Title">
                <div class="sm-btn warning zoomIn" style="float:right;">
                    Delete <i class="fa fa-times" aria-hidden="true"></i>
                </div>
            </a>
        </div>
    </div>

    <textarea asp-for="Content" id="mytextarea">Hello, World!</textarea>
</form>

@section scripts{ 
<script src="~/lib/tinymce/tinymce.js"></script>
<script type="text/javascript">
  tinymce.init({
      selector: '#mytextarea',
      height: 500,
      plugins: "codesample image imagetools link",
      toolbar: "undo, redo | bold, italic, underline, strikethrough | alignleft, aligncenter, alignright, alignjustify | formatselect, fontselect, fontsizeselect | bullist, numlist, outdent, indent, blockquote, | codesample link image"
  });

  $(":input").on("keydown", function (event) {
      if (event.which === 13 && !$(this).is("textarea, :button, :submit")) {
          $(this).blur();
      }
  });

  var startVal = $("#path").val();
  ValidatePath();

$("#path, #title").on("change, blur", function () {
    ValidatePath();
});
 
function ValidatePath() {
    var pathVal = $("#path").val();
    var title = $("#title").val();

    $("#pathIcon").html("<i class=\"fa fa-spinner fa-spin fa-fw\"></i>");

    $.ajax({
        url: '/Wiki/IsValidPath',
        type: 'POST',
        data: JSON.stringify([pathVal, title]),
        contentType: 'application/json; charset=utf-8',
        dataType: 'json',
        async: true,
        success: function (msg) {
            if (typeof (msg) !== "string") {

                var pathString = "";
                var pathUrl = "/Wiki/View";
                msg.forEach(function (obj) {
                    pathUrl += "/" + obj;
                    pathString += "<a href=\"" + pathUrl + "\">" + obj + "</a> <i class=\"fa fa-angle-double-right\" aria-hidden=\"true\"></i> ";
                });
                pathString += $("#title").val();
                $("#pathString").html(pathString);

                $("#pathIcon").html("<i class=\"fa fa-check\"></i>");
                enableSaveButton();
            }
            else {
                $("#pathString").text(msg);
                $("#pathIcon").html("<i class=\"fa fa-close\"></i>");
                disableSaveButton();
            }
        }
    });
}

//DISABLE SAVE BUTTON IF PATH NOT VALID.
function disableSaveButton() {
    $("#saveButton").hide();
    $("#saveButtonDisabled").show();
}

function enableSaveButton() {
    $("#saveButton").show();
    $("#saveButtonDisabled").hide();
}

</script>
}