@using ASPWiki.Model;
@model WikiPage

<form id="wikiForm" asp-action="Save" method="post">
    <div class="row" style="margin-top:20px;">
        <div class="col-md-6">
            <label for="title">Title</label>
            <input class="form-control" asp-for="Title" type="text" id="title" value="@Model.Title"/>
        </div>
        <div class="col-md-6">
            <a asp-controller="Wiki" asp-action="Save" onclick="document.getElementById('wikiForm').submit(); return false;">
                <div class="sm-btn" id="add" style="float:right;">
                    Save <i class="fa fa-floppy-o" aria-hidden="true"></i>
                </div>
            </a>
            <a asp-controller="Wiki" asp-action="Delete" asp-route-title="@Model.Title">
                <div class="sm-btn warning" id="add" style="float:right;">
                    Delete <i class="fa fa-times" aria-hidden="true"></i>
                </div>
            </a>
        </div>
    </div>

    <textarea asp-for="Content" id="mytextarea">Hello, World!</textarea>
</form>

@section scripts{ 
<script src="~/lib/tinymce/tinymce.js"></script>
<script type="text/javascript">
  tinymce.init({
      selector: '#mytextarea',
      height: 500,
      plugins: "codesample image imagetools link",
      toolbar: "undo, redo | bold, italic, underline, strikethrough | alignleft, aligncenter, alignright, alignjustify | formatselect, fontselect, fontsizeselect | bullist, numlist, outdent, indent, blockquote, | codesample link image"
  });
</script>
}