<article style="margin:15px;">
    <a href="#"><h4>Title</h4></a>
    <p>Content maximum length of 2 rows that means about 250 charachters
    That sould be enought just a small mystery is that; can razor do that ezlili?</p> 
    <span class="label label-info">Info</span>
    <span>Written by: Unknown - Size: 3kb - @DateTime.Now</span> <a href="#">5 <i class="fa fa-comment-o" aria-hidden="true"></i></a>
</article>