@model List<Attachment>

<div>
    @if (@Model != null)
    {
        if (Model.Count > 0)
        {
            <i class="fa fa-file-o" aria-hidden="true">:</i>
        }

        foreach (var attachment in Model)
        {
            <a href="/Wiki/File/View/@attachment.WikipageId/@attachment.FileId">@attachment.FileName</a> 

            @if (User.Identity.IsAuthenticated)
            {
                <a id="deleteAttacment @attachment.FileId" wikiId="@attachment.WikipageId" class="pointer">
                    <i class="fa fa-trash error" aria-hidden="true"></i>
                </a>
            }
        }
    }
</div>

@Html.ScriptSection(
@<script>
    $("[id^=deleteAttacment]").click(function () {
        $(this).prev().hide("fast");
        $(this).hide("fast");

        var attachmentId = $(this).attr('id').substr(16);
        var wikiId = $(this).attr('wikiId');

        $.ajax({
            url: '/Wiki/File/Delete',
            type: 'POST',
            data: JSON.stringify({ WikiId: wikiId, Id: attachmentId }),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: true,
            success: function (msg) {
            }
        });
    });
</script>
)