<div class="col-md-12">
    <div style="margin:15px 0 15px 0;">
        @{bool focus = false; }
        @for (int i = 0; i < Model.ContentHistory.Count; i++)
        {
            string focused = "";
            if (i.ToString() == Context.Request.Query["version"] || !focus && i == Model.ContentHistory.Count - 1)
            {
                focused = "success";
                focus = true;
            }

            <div style="display:inline-block;margin-left:32px;">
                <a href="/Wiki/View/@Model.Path?version=@i">
                    <div class="@focused zoomInHide versionBar"></div>
                    <div class="zoomInShow versionBar"></div>
                </a>
            </div>
        }
    </div>
</div>