@using ASPWiki.Model;
@model WikiPage

@{ 
    ViewData["Title"] = Model.Title;
}

<article>
    <div class="row" style="margin-top:20px;">
        <div class="col-md-6">
            <h1>@Model.Title</h1>

            <span>
                @Html.Partial("PathLink", Model.Path)
            </span>
        </div>
        <div class="col-md-6">
            <a asp-controller="Wiki" asp-action="Edit">
                <div class="sm-btn zoomIn" style="float:right;">
                    Edit <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </div>
            </a>
            <a asp-controller="Wiki" asp-action="Delete">
                <div class="sm-btn warning zoomIn" style="float:right;">
                    Delete <i class="fa fa-times" aria-hidden="true"></i>
                </div>
            </a>
        </div>
    </div>

    @Html.Raw(@Model.Content)
</article>
